/* BandpageStylesheet.css */
body {
    background-color:  #fcf4e8
}
#titles {
    font-family: sans-serif
}
#credits {
    font-family: sans-serif
}
#tracks {
    font-family: sans-serif
}
#tREalbum {
    background-image: url("Images/treimg2.png");
}

