/* BandpageStylesheet.css */
body {
    background-color:  #fcf4e8
}
#titles {
    font-family: sans-serif
}
#credits {
    font-family: sans-serif
}
#tracks {
    font-family: sans-serif
}
#tREalbum {
    background-image: url("Images/treimg2.png");
}
thead {
    color: ivory;
    background-color: black;
}
tbody {
    font-style: italic;
    background-color: ivory;
}
table {
    width: 100%;
  }
th,td {
    height: 28px;
  }
#bandLink {
    text-align: center;
    width: 100%
}
a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
a:link {
    color: lightseagreen;
}
a:visited {
    color: blueviolet
}
a:hover {
    text-decoration: underline;
    color: lightskyblue;
    background-color: lightslategray;
}
