/* restaurant style page */
body {
    background-color: #FFFFE4
}
#header {
    font-size: 22px;
    font: sans-serif;
    border-top: 4px solid tomato;
    border-bottom: 4px solid tomato;
}
#footer {
    font-family: sans-serif;
    border-top: 4px solid tomato;
    border-bottom: 4px solid tomato;
    color: ivory;
    background-color: #786E6E;
    text-align: center;   
}
h1 {
    font-family: sans-serif;
    font-weight: bold;
}
#aboutGregs {
    background-color: gainsboro;
}